<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar pedido</h1>
        </div>

        <div class="card-body">
            <form action="/pedidos/new" method="POST">
                <label>Número do pedido:</label>
                <input type="text" name="numero" id="numero" placeholder="Insira o número do pedido" class="form-control" required>

                <label>Valor do pedido:</label>
                <input type="number" step="0.01" name="valor" id="valor" placeholder="Insira o valor do pedido" class="form-control" required>
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Pedidos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Número:</th>
                        <th>Valor:</th>
                        <th colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    <% pedidos.forEach(pedido => { %>
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= pedido.numero %></td>
                            <td><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><a style="color: orange;" href="/pedidos/edit/<%= pedido.id %>">Editar</a></td>
                            <td>
                                <a style="color:red;" href="/pedidos/delete/<%= pedido.id %>" onclick="return confirm('Deseja realmente deletar o pedido <%= pedido.numero %>?')">Deletar</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
