<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar produto</h1>
        </div>

        <div class="card-body">
            <form action="/produtos/new" method="POST">
                <label>Nome do produto:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira o nome do produto" class="form-control" required>

                <label>Preço do produto:</label>
                <input type="number" step="0.01" name="preco" id="preco" placeholder="Insira o preço do produto" class="form-control" required>

                <label>Categoria do produto:</label>
                <input type="text" name="categoria" id="categoria" placeholder="Insira a categoria do produto" class="form-control" required>
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Produtos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome:</th>
                        <th>Preço:</th>
                        <th>Categoria:</th>
                        <th colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    <% produtos.forEach(produto => { %>
                        <tr>
                            <td><img src="imgs/product.png" width="30px"></td>
                            <td><%= produto.nome %></td>
                            <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><%= produto.categoria %></td>
                            <td><a style="color: orange;" href="/produtos/edit/<%= produto.id %>">Editar</a>
                            </td>
                            <td><a href="/produtos/delete/<%= produto.id %>" style="color:#f44336">Deletar</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
